.header{
	background-color: #f7f7f7;
	position: relative;
}
.header_wrap{
	width: 1200px;
	height: 80px;
	position: relative;
	margin:0 auto;
}
.header_logo{
	width: 150px;
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	color: #07111b;
	text-indent: 50px;
	background: url('../images/logo.png') left center no-repeat;
	background-size: 38px 38px;
	position: absolute;
	top: 50%;
	margin-top:-19px; 
	left: 20px;
}

.header_nav{
	position: absolute;
	right: 20px;
	height: 38px;
	top: 50%;
	margin-top:-19px; 
}

.header_nav-item{
	color: #292f35;
	font-size: 14px;
	display: block;
	height: 38px;
	width: 30px;
	text-align: center;
	line-height: 38px;
	float: left;
	padding-left: 40px;
	position: relative;
}

.header_nav-item:hover{
	color: #f01400;
}

.header_nav-item_status_active{
	color: #f01400;
}

.header_nav-item_status_active::after{
/*	content:' ';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #f01400;
	position: absolute;
	left: 0;
	bottom: 0;*/
}

.header_nav-item_custom_button{
	background-color: #000;
	color: #f4f4f5;
	width: 90px;
	border-radius: 3px;
	text-align: center;
	margin-left: 40px;
	padding:0;
}

/* 第一屏*/
.screen-1{
	height: 800px;
	background-color: #e7e7e7;
	background: url('../images/bg-screen-1.png') no-repeat center;
	background-size: cover;
	position: relative;
	overflow: hidden;

}

.screen-1_heading{
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 46px;
	color: #4d555d;
	text-align: center;
	padding: 152px;

}

.screen-1_heading b{
	color: #f01400;
	font-weight: normal;
}

.screen-1_phone{
	width: 1375px;
	height: 305px;
	background: url('../images/screen-1-phone.png') center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -687px;
	bottom: 180px;
	z-index: 2;
}

.screen-1_shadow{
	width: 1233px;
	height: 411px;
	background: url('../images/screen-1-shadow.png') center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -616px;
	bottom: 30px;
	z-index: 1;
	opacity: .8;
	filter: alpha(opacity=80);
}

/*第二屏*/

.screen-2{
	background-color: #fafafa;
	height: 800px;
	position: relative;
	overflow: hidden;
}

.screen-2_heading{
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 46px;
	color: #f01400;
	text-align: center;
	padding-top: 96px;
	line-height: 46px;
}

.screen-2_subheading{
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #2c3137;
	text-align: center;
	padding-top: 25px;
	line-height: 28px;
}

.screen-2_phone{
	width: 928px;
	height: 873px;
	background: url('../images/screen-2-phone.png') center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -464px;
	bottom: -345px;
	z-index: 2;
}

.screen-2_point{
	width: 108px;
	height: 22px;
	padding-right: 112px;
	font-size: 22px;
	line-height: 22px;
	color: #4d555d;
	position: absolute;
	background: url('../images/icon-point-right.png') no-repeat center right;
}

.screen-2_point_custom_right{
	padding:0 0 0 112px;
	background: url('../images/icon-point-left.png') no-repeat center left;
}

.screen-2_point_i_1{
	top: 150px;
	left: -164px;
}

.screen-2_point_i_2{
	top: 30px;
	right: 130px;
}

.screen-2_point_i_3{
	top: 330px;
	right:30px; 

}

/*第三屏*/
.screen-3{
	height: 800px;
	background-color: #a41316;
	position: relative;
	overflow: hidden;
}
.screen-3_wrap{
	width: 1200px;
	height: auto;
	margin:0 auto;
	position: relative;
}

.screen-3_heading{
	font-size: 46px;
	line-height: 46px;
	color: #ffffff;
	text-align: left;
	padding-top: 94px;
}

.screen-3_subheading{
	font-size: 14px;
	color: #ffffff;
	text-align: left;
	padding-top: 25px;
	line-height: 28px;
}

.screen-3_phone{
	width: 750px;
	height: 873px;
	background: url('../images/screen-3-phone.png') top center no-repeat;
	position: absolute;
	right: 0px;
	top: 195px;
	z-index: 2;
}

.screen-3_features{
	position: absolute;
	top: 395px;
	left: 0;
	width: 320px;
	height: 280px;
}

.screen-3_features_item{
	width: 138px;
	height: 118px;
	border:1px solid #cb7179;
	margin:0 20px 20px 0;
	float: left;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

.screen-3_features_item_number{
	height: 36px;
	font-size: 36px;
	line-height: 36px;
	padding:28px 0 8px;
}

.screen-3_features_item_desc{
	height: 14px;
	font-size: 14px;
	line-height: 14px;
}


/*第四屏*/
.screen-4{
	height: 800px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.screen-4_wrap{
	width: 1200px;
	height: auto;
	margin:0 auto;
	position: relative;
}

.screen-4_heading{
	font-size: 46px;
	line-height: 46px;
	color: #f01400;
	text-align: center;
	padding-top: 135px;
}

.screen-4_subheading{
	font-size: 14px;
	color: #464a4f;
	text-align: center;
	padding-top: 29px;
	line-height: 28px;
}

.screen-4_type{
	width: 1240px;
	height:270px;
	position: absolute;
	top: 304px;
	left: -30px;
}

.screen-4_type_item{
	width: 220px;
	margin:0px 45px 0px;
	height: 270px;
	float: left;
	position: relative;
	text-align: center;
	background-size: cover;
}
.screen-4_type_item_color{
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #2c3238;
	position: absolute;
	bottom: -44px;
}

.screen-4_type_item_i_1{
	background: url('../images/phone-1.png') no-repeat left center;
}

.screen-4_type_item_i_2{
	background: url('../images/phone-2.png') no-repeat left center;
}

.screen-4_type_item_i_3{
	background: url('../images/phone-3.png') no-repeat left center;
}

.screen-4_type_item_i_4{
	background: url('../images/phone-4.png') no-repeat left center;
}

.screen-4_type_item_storage{
	width: 100%;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	color: #a4a9ae;
	position: absolute;
	bottom: -66px;
}


/*第五屏*/
.screen-5{
	height: 800px;
	background-color: #d9dde1;
	position: relative;
	overflow: hidden;
}

.screen-5_bg{
	width: 1920px;
	height: 572px;
	background: url('../images/bg-screen-5.png') no-repeat center;
	background-size:contain;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	bottom: -200px; 
}

.screen-5_heading{
	font-size: 46px;
	line-height: 46px;
	color: #f01400;
	text-align: center;
	padding-top: 130px;
}

.screen-5_subheading{
	font-size: 14px;
	color: #464a4f;
	text-align: center;
	padding-top: 25px;
	line-height: 28px;
}

/*第六屏*/
.screen-6{
	height: 80px;
	padding:120px 0 120px;
	text-align: center;
	background:#2b333b url('../images/bg-screen-buy.png') center no-repeat;
	position: relative;
	overflow: hidden;
}

.screen-6_button{
	height: 80px;
	width: 240px;
	border-radius: 5px;
	text-align: center;
	line-height: 80px;
	font-size: 24px;
	color: #fff;
	background-color: #f01414;
	display: inline-block;
	transition:all .5s;
}

.screen-6_button:hover{
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

/*页脚*/
.footer{
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	background-color: #07111b;
}

.outline{
	position: fixed;
	padding:5px 10px;
	bottom: 120px;
	right: 0;
	z-index: 3;
	background-color:#fff;
	box-shadow: 0 4px 12px rgba(0,0,0,.5);
}

.outline_item{
	display: block;
	width: 40px;
	height: 30px;
	line-height: 30px;
	padding:5px 0;
	text-align: center;
	background-color: #fff;
	margin-top: 5px;
	border-top: 1px solid #eee;
	color: #93999f;
}

.outline_item:first-child{
	border-top: none;
}

.outline_item_status_active{
	color: red;
}

.header_nav-tip{
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: red;
	bottom: 0;
	left: 0;
	margin-left: 40px;
	transition: all .5s;
}